body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menuBar {
    background-color: #444444;
    padding: 2px 5px 0px 5px;
    display: flex;
}

.menu {
    display: inline-block;
}

.menuButton {
    color: lightgray;
    background-color: #444444;
    border: none;
    padding: 5px;
    margin: 1px 0px 1px 0px;
}

.menuButton:hover {
    background-color: #555555;
}

.fsButton {
    background: url(icons/full-screen.png) no-repeat right;
    color: lightgray;
    background-color: #444444;
    border: none;
    padding: 6px 20px 5px 5px;
    margin: 0px 0px 1px 0px;
}

.fsButton:hover {
    background-color: #555555;
}

.dropdownContent {
    position: absolute;
    display: none;
    background-color: #272727;
    width: 250px;
    z-index: 1;
}

.menu:hover .menuButton {
    background-color: #555555;
}

.menu:hover .dropdownContent {
    display: block;
}

.menuItemGroup {
    border: 1px solid #444444;
    border-radius: 0;
}

.menuItem {
    color: lightgray;
    background-color: #272727;
    text-align: left;
    text-decoration: none;
    width: 246px;
    border: none;
    padding: 5px 7px 5px 27px;
    margin: 1px 2px 1px 2px;
}

.menuItem:hover {
    color: white;
    background-color: #00538C;
}

.sep {
    flex: 1;
}

.tabArea {
    position: relative;
    display: inline-block;
}

button.tab {
    color: lightgray;
    padding: 6px 24px 5px 16px;
    margin: 1px 1px 0px 1px;
    border: none;
    background-color: #505050;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

button.sTab {
    color: lightgray;
    padding: 6px 24px 5px 16px;
    margin: 1px 1px 0px 1px;
    border: none;
    background-color: #272727;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.cTab {
    display: none;
    position: absolute;
    background: url(icons/close-gray.png) no-repeat center;
    border: none;
    right: 4px;
    top: 5px;
    padding: 9px 9px;
    cursor: pointer;
}

.tabArea:hover button.cTab {
    display: block;
}

button.cTab:hover {
    background-color: #272727;
}

button.csTab {
    position: absolute;
    background: url(icons/close-white.png) no-repeat center;
    background-color: none;
    border: none;
    right: 4px;
    top: 5px;
    padding: 9px 9px;
    cursor: pointer;
}

button.csTab:hover {
    background-color: #444444;
}

.content {
    overflow: auto;
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 1 365px;
}

.buttonPanel {
    display: flex;
    height: 35px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    background-color: #333333;
}

.accPanel {
    display: flex;
    height: 31px;
    text-align: center;
    flex-wrap: wrap;
}

button.main {
    display: flex;
    background-color: #444444;
    color: lightgray;
    padding: 1px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    flex: 0 0 110px;
}

button.main:hover {
    background-color: #555555;
    color: white;
}

button.main:hover .buttonImage {
    filter: brightness(1);
}

button.pay {
    background-color: #444444;
    color: lightgray;
    padding: 1px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.pay:hover {
    background-color: #555555;
    color: white;
}

button.acc {
    background-color: #444444;
    color: lightgray;
    border: none;
    cursor: pointer;
}

button.acc:hover {
    background-color: #555555;
    color: white;
}

.buttonImage {
    float: left;
    padding-right: 5px;
    padding-top: 3px;
    filter: brightness(0.7);
}

.smallButtonImage {
    float: left;
    filter: brightness(0.7);
}

.buttonText {
    float: left;
    font-size: medium;
    line-height: 31px;
}

button.acc:hover .buttonImage {
    filter: brightness(1);
}

.accButtonText {
    float: left;
    font-size: large;
    line-height: 26px;
    padding-left: 5px;
    padding-right: 10px;
}

.balance {
    flex-grow: 1;
    padding: 0px 12px;
}

.topBar {
    position: relative;
    height: 16px;
    padding-top: 1px;
    background-color: #444444;
}

.bottomBar {
    position: relative;
    height: 16px;
    padding-top: 2px;
    background-color: #444444;
}

.greenBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 16px;
    background: rgb(79,121,66);
    background: linear-gradient(0deg, rgba(79,121,66,1) 0%, rgba(3,192,60,1) 40%, rgba(3,192,60,1) 60%, rgba(79,121,66,1) 100%);
}

.blueBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 16px;
    background: rgb(42,82,190);
    background: linear-gradient(0deg, rgba(42,82,190,1) 0%, rgba(12,175,255,1) 40%, rgba(12,175,255,1) 60%, rgba(42,82,190,1) 100%);
}

.barText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: small;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000, 0 0 2px #000000;
}

.barLabel {
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
    font-size: x-small;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000, 0 0 2px #000000;
}

.barCount {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    font-size: x-small;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000, 0 0 2px #000000;
}

.filePanel {
    color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 3;
    overflow: auto;
}

.livePanel {
    color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1;
    overflow: auto;
}

.fileLine {
    position: relative;
    margin: 2px 0px;
    padding: 2px 0px;
    cursor: default;
}

.fileCount {
    position: absolute;
    top: 4px;
    right: 4px;
    color: lightgray;
    font-size: small;
}

.fileLine:hover {
    background-color: #444444;
}

.fileIcon {
    margin-top: 5px;
    margin-right: 5px;
}

.folderContents {
    display: block;
}

#container {
    overflow: auto;
    flex: 1;
}